<?xml version="1.0" ?>
<launch>
    <arg name="robotont_ns" default="robotont"/>
    <include file="$(find realsense2_camera)/launch/rs_aligned_depth.launch"></include>
    <rosparam>
        /camera/aligned_depth_to_color/image_raw/compressedDepth/png_level: 5
    </rosparam>
    <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
        <arg
			name="rtabmap_args"
			value="--delete_db_on_start"
		/>
        <arg
			name="rviz"
			value="false"
		/>
        <arg
			name="rtabmapviz"
			value="false"
		/>
        <arg
			name="depth_topic"
			value="/camera/aligned_depth_to_color/image_raw"
		/>
        <arg
			name="rgb_topic"
			value="/camera/color/image_raw"
		/>
        <arg
			name="camera_info_topic"
			value="/camera/color/camera_info"
		/>
        <arg
			name="queue_size"
			value="50"
		/>
        <arg name="odom_topic" value="/robotont/odom"/>
        <arg name="frame_id" value="base_footprint"/>
        <arg name="visual_odometry" value="false"/>
        <!-- 
        <arg
			name="map_filter_radius"
			value="0.8"
		/><arg
			name="cloud_max_depth"
			value="2.5"
		/><arg
			name="grid_cell_size"
			value="0.1"
		/> -->
    </include>
    <env name="ROSCONSOLE_FORMAT" value="[${function}] ${message}" />
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find robotont_driver)/config/console.conf" />
    <rosparam ns="robotont" file="$(find robotont_driver)/config/robotont_params.yaml" command="load" />
    <node ns="$(arg robotont_ns)" pkg="robotont_driver" name="driver_node" type="driver_node" output="screen" />
    <!-- Convert an xacro and put on parameter server -->
    <param name="/robotont/robot_description" command="$(find xacro)/xacro --inorder $(find robotont_description)/xacro/main.urdf.xacro" />
    <!-- State publishers -->
    <node ns="$(arg robotont_ns)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node ns="$(arg robotont_ns)" name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
</launch>
