<?xml version="1.0" ?>
<launch>
    <arg name="robotont_ns" default="robotontasf"/>
    <arg name="base_frame" default="$(arg robotont_ns)/base_footprint"/>
    <arg name="odom_frame" default="$(arg robotont_ns)/odom"/>
    <arg name="map_frame" default="$(arg robotont_ns)/map"/>

    <env name="ROSCONSOLE_FORMAT" value="[${function}] ${message}" />
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find robotont_driver)/config/console.conf" />
    <!-- Convert an xacro and put on parameter server -->
    <param name="$(arg robotont_ns)/robot_description" command="$(find xacro)/xacro --inorder $(find robotont_description)/xacro/main.urdf.xacro" />
    <!-- State publishers -->
    <node ns="$(arg robotont_ns)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"> 
        <param name="tf_prefix" value="$(arg robotont_ns)" />
    </node>
    <node ns="$(arg robotont_ns)" name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" >
         <param name="tf_prefix" value="$(arg robotont_ns)" />
    </node>
    <rosparam>
      /camera/aligned_depth_to_color/image_raw/compressedDepth/png_level: 5
    </rosparam>
    <include file="$(find realsense2_camera)/launch/rs_aligned_depth.launch" >
        <arg name="camera"	value="$(arg robotont_ns)/camera"/>
    </include>
    <include file="$(find robotont_teleop)/launch/cam_throttling.launch" />
    <rosparam ns="$(arg robotont_ns)" file="$(find robotont_driver)/config/robotont_params.yaml" command="load" />
    <param name="$(arg robotont_ns)/odom/child_frame" value="$(arg robotont_ns)/base_footprint"/>
    <param name="$(arg robotont_ns)/odom/frame" value="$(arg robotont_ns)/odom"/>
    <node ns="$(arg robotont_ns)" pkg="robotont_driver" name="driver_node" type="driver_node" output="screen" >
    </node>
    <node ns="$(arg robotont_ns)" name="laserscan_kinect" pkg="laserscan_kinect" type="laserscan_kinect" >

        <remap from="image" to="/camera/depth/image_rect_raw"/>
        <remap from="camera_info" to="/camera/depth/camera_info"/>
        <rosparam command="load" file="$(find robotont_teleop)/config/laser_params.yaml" />
    </node>
</launch>
