<?xml version="1.0" ?>
<launch>
  <arg name="robotont_ns" default="robotont">
  <node ns="robotont_ns" pkg="teleop_twist_keyboard" name="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen">
    <param name='~speed' value="0.1" />
    <param name='~turn' value="0.3" />
  </node>
</launch>
