<?xml version="1.0" ?>
<launch>
    <env name="ROSCONSOLE_FORMAT" value="[${function}] ${message}" />
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find robotont_driver)/config/console.conf" />
    <rosparam>
      /camera/aligned_depth_to_color/image_raw/compressedDepth/png_level: 5
    </rosparam>
    <include file="$(find realsense2_camera)/launch/rs_aligned_depth.launch"/>
    <rosparam ns="robotont" file="$(find robotont_driver)/config/robotont_params.yaml" command="load" />
    <node ns="robotont" pkg="robotont_driver" name="driver_node" type="driver_node" output="screen" />
    <node pkg="depthimage_to_laserscan" name="depthimage_to_laserscan" type="depthimage_to_laserscan">
        <remap from="image" to="/camera/aligned_depth_to_color/image_raw"/>
        <rosparam>
      /depthimage_to_laserscan/scan_height: 20
    </rosparam>
        <rosparam>
      /depthimage_to_laserscan/range_min: 0.4
    </rosparam>
        <rosparam>
      /depthimage_to_laserscan/range_min: 3
    </rosparam>
    </node>
</launch>
