<?xml version="1.0" ?>
<launch>
  <arg name="model" />
  <arg name="gui" default="False" />
  <param name="robot_description" textfile="$(find robotont_description)/urdf/robotont_description.urdf" />
  <param name="use_gui" value="$(arg gui)" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robotont_description)/config/robotont_show_depth.rviz" output="screen" />
   <node pkg="tf"
        type="static_transform_publisher"
        name="base_to_camera_broadcaster"
        args="0 0 0.2 0 0 0 base_base_link camera_link 100" />
</launch>
