<launch>
    <arg name="world" default="worlds/empty.world"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world)"/>
    </include>
    <!-- Convert an xacro and put on parameter server -->
    <param name="/robotont/robot_description" command="$(find xacro)/xacro --inorder $(find robotont_description)/xacro/main.urdf.xacro" />
    <!-- State publishers -->
    <node ns="/robotont" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node ns="/robotont" name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
    <!-- Spawn a robot into Gazebo -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param /robotont/robot_description -urdf -model robotont" />
    <!-- Teleop joy -->
    <node ns="robotont" pkg="joy" name="joy_node" type="joy_node">
        <param name="deadzone" value="0.25" />
        <param name="autorepeat_rate" value="5" />
    </node>
    <!-- Joystick -->
    <node ns="robotont" pkg="robotont_description" name="gazebo_robotont_teleop_joy" type="gazebo_robotont_teleop_joy" output="screen" />
     <!-- Laserscan -->
    <node name="laserscan_kinect" pkg="laserscan_kinect" type="laserscan_kinect" >
        <remap from="image" to="/camera/depth/image_raw"/>
        <remap from="camera_info" to="/camera/depth/camera_info"/>
        <rosparam command="load" file="$(find robotont_teleop)/config/laser_params.yaml" />
    </node>
</launch>