<launch>
    <arg name="world" default="worlds/empty.world"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world)"/>
    </include>
    <!-- Convert an xacro and put on parameter server -->
    <param name="/robotont/robot_description" command="$(find xacro)/xacro --inorder $(find robotont_description)/xacro/main.urdf.xacro" />
    <!-- State publishers -->
    <node ns="/robotont" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node ns="/robotont" name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
    <!-- Gazebo driver -->
    <node ns="/robotont" pkg="robotont_driver" name="gazebo_driver_node" type="gazebo_driver_node" output="screen" />
    <!-- Spawn a robot into Gazebo -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param /robotont/robot_description -x 0.4 -urdf -model robotont" />
    <!-- Teleop keyboard -->
    <node ns="robotont" pkg="teleop_twist_keyboard" name="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen">
        <param name='~speed' value="1.2" />
        <param name='~turn' value="35" />
    </node>
     <!-- Laserscan -->
    <node name="laserscan_kinect" pkg="laserscan_kinect" type="laserscan_kinect" >
        <remap from="image" to="/camera/depth/image_raw"/>
        <remap from="camera_info" to="/camera/depth/camera_info"/>
        <rosparam command="load" file="$(find robotont_teleop)/config/laser_params.yaml" />
    </node>
    <node pkg="robotont_sensors" name="laserscan_to_distance" type="laserscan_to_distance.py" output="screen" />
</launch>